.container {
  display: flex;
  justify-content: center;
}

.input {
  width: 380px;
  margin-right: 12px;
}

.letters {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  gap: 16px;
  margin-left: -30px;
}